.bodyGoodsSection_ForGrid{
	padding-top: 3%;
	margin:auto;
	width: 100%;
	
}
.gridGoodsSection{
	display: grid;
	width: 100%;
	gap:25px 150px;
	grid-template-columns: repeat(auto-fill,294px);
	grid-auto-rows: 1fr;
	align-items: center;
	justify-content: center;
}
.gridGoodsSection2{
	display: grid;
	width: 100%;
	gap:25px 75px;
	grid-template-columns: repeat(auto-fill,294px);
	grid-auto-rows: 210px;
	align-items: center;
	justify-content: center;
}